@page "/additions"
@using Restaurant.UI.Components.LoadingIcon
@using Restaurant.UI.Components.Modal
@using Restaurant.UI.Components.Table
@using Restaurant.UI.DTO;
@using Restaurant.UI.Services.Abstractions;
@attribute [Authorize]
@inject IAdditionService AdditionService;
@inject NavigationManager NavigationManager;

<h3>AdditionsPage</h3>
<button class="btn btn-success" @onclick='() => NavigationManager.NavigateTo("/additions/add")'>
    Add
</button>


@if (Loading)
{
    <LoadingIconComponent />
}
else
{
    <TableComponent Items="additions">
        <DataColumn TRowData="AdditionDto" Title="Id" Expression="a => a.Id" />
        <DataColumn TRowData="AdditionDto" Title="Name" Expression="a => a.AdditionName" />
        <DataColumn TRowData="AdditionDto" Title="Price" Expression="a => a.Price" Format="{0:0.00}" />
        <DataColumn TRowData="AdditionDto" Title="Kind" Expression="a => a.AdditionKind" />
        <DataColumn TRowData="AdditionDto" Title="Action">
            <button class="btn btn-primary me-2" @onclick='() => NavigationManager.NavigateTo($"/additions/view/{context.Id}")'>
                Details
            </button>
            <button class="btn btn-warning me-2" @onclick='() => NavigationManager.NavigateTo($"/additions/edit/{context.Id}")'>
                Edit
            </button>
            <button class="btn btn-danger" @onclick="() => OpenModal(context)">
                Delete
            </button>
        </DataColumn>
    </TableComponent>
}

@if (IsModalOpen)
{
    <ModalComponent Title="Delete Addition" OnClose="CloseModal">
        <Body>
            <div class="text-info-delete">
                Do you wish to delete addition @AdditionToDelete?.AdditionName with id @AdditionToDelete?.Id
            </div>
        </Body>
        <Footer>
            <button class="btn btn-danger me-2" @onclick="DeleteAddition">
                Yes
            </button>
            <button class="btn btn-secondary" @onclick="CloseModal">
                No
            </button>
        </Footer>
    </ModalComponent>
}

@code {
    private ICollection<AdditionDto>? additions;
    private AdditionDto? AdditionToDelete;

    private bool IsModalOpen { get; set; } = false;

    private bool Loading { get; set; } = true;

    private async Task FetchAdditions()
    {
        Loading = true;
        await Task.Delay(2000);
        additions = new List<AdditionDto>(await AdditionService.GetAllAsync());
        Loading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await FetchAdditions();
    }

    private void OpenModal(AdditionDto additionDto)
    {
        IsModalOpen = true;
        AdditionToDelete = additionDto;
    }

    private void CloseModal()
    {
        IsModalOpen = false;
    }

    private async Task DeleteAddition()
    {
        if (AdditionToDelete is null)
        {
            IsModalOpen = false;
            return;
        }

        await AdditionService.DeleteAsync(AdditionToDelete.Id);
        IsModalOpen = false;
        await FetchAdditions();
    }
}
