@page "/"
@using System.Security.Claims;

<PageTitle>Index</PageTitle>

<h1>Welcome to Restaurant App!</h1>

<AuthorizeView>
    <Authorized Context="Auth">
        <SurveyPrompt Title="Welcome" Description='@($"Welcome {Auth.User.Claims.Where(c => c.Type == ClaimTypes.Email).SingleOrDefault()?.Value}, if you wish you can order foods just go to nav Create Order")' />
    </Authorized>
    <NotAuthorized>
        <SurveyPrompt Title="How to order food?" Description="Only authorized users can order foods. If you wish to order food, please login. If you dont have account and wish to order food, please register and login." />
    </NotAuthorized>
</AuthorizeView>
