@page "/products/add"
@using Restaurant.UI.Components
@using Restaurant.UI.Components.Products
@using Restaurant.UI.DTO;
@using Restaurant.UI.Services.Abstractions;
@inject NavigationManager NavigationManager;
@inject IProductService ProductService;


<h3>AddProductPage</h3>
<ProductFormComponent OnSend="Send" OnCancelClickButton='() => NavigationManager.NavigateTo("/products")' />
<AuthorizationComponent Roles="admin" />

@code {
    private async Task Send(ProductDto productDto)
    {
        await ProductService.AddAsync(productDto);
        NavigationManager.NavigateTo("/products");
    }
}
