@page "/products/add"
@using Restaurant.UI.Components
@using Restaurant.UI.Components.Errors
@using Restaurant.UI.Components.Products
@using Restaurant.UI.DTO;
@using Restaurant.UI.Services.Abstractions;
@inject NavigationManager NavigationManager;
@inject IProductService ProductService;
@inject ILogger<AddProductPage> Logger;


<h3>AddProductPage</h3>

@if (!string.IsNullOrWhiteSpace(_error))
{
	<ErrorComponent Text="@_error" />
}
<ProductFormComponent OnSend="Send" OnCancelClickButton='() => NavigationManager.NavigateTo("/products")' />
<AuthorizationComponent Roles="admin" />

@code {
	private string _error = "";

	private async Task Send(ProductDto productDto)
	{
		try
		{
			_error = "";
			await ProductService.AddAsync(productDto);
            NavigationManager.NavigateTo("/products");
        }
		catch (Exception exception)
		{
			if (exception is RpcException)
			{
				var status = ((RpcException)exception).Status;

				if (status.StatusCode is StatusCode.InvalidArgument or StatusCode.FailedPrecondition)
				{
					_error = status.Detail;
				}
				else
				{
					_error = "Something bad happen please try again later";
				}
			}

			Logger.LogError(exception, exception.Message);
		}
    }
}
