@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized Context="Auth">
        Welcome @Auth.User.Claims.Where(c => c.Type == "email").SingleOrDefault()?.Value to Resturant app..
    </Authorized>
    <NotAuthorized>
        Welcome to Resturant app.
    </NotAuthorized>
</AuthorizeView>

<SurveyPrompt Title="How is Blazor working for you?" />
