@if (!string.IsNullOrWhiteSpace(Text))
{
    <div class="alert alert-danger @CssClass">
        @Text
    </div>
}

@code {
    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public string CssClass { get; set; } = "";
}
