@using Restaurant.UI.Components
@using Restaurant.UI.Security;
@using Restaurant.UI.Services.Abstractions;
@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService;
@inject NavigationManager NavigationManager;
@inject IJSRuntime JsRuntime;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/sign-in">Login</a>
                    <a href="/sign-up">Register</a>
                </NotAuthorized>
            </AuthorizeView>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <ErrorBoundary>
            <ChildContent>
                <article class="content px-4">
                    @Body
                </article>
            </ChildContent>
            <ErrorContent Context="errorException">
                <div class="alert alert-danger">
                    @GetGenericErrorText(errorException)
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</div>

@code {
    private async Task Logout()
    {
        await AuthenticationService.SignoutAsync();
        NavigationManager.NavigateTo("/");
    }

    private string GetGenericErrorText(Exception exception)
    {
        JsRuntime.InvokeVoidAsync("console.error", exception.Message, exception.StackTrace);
        return "Something bad happen, try again later. If it still happen contact with support";
    }
}